name: Deploy Backend

on:
  push:
    branches: [main]
    paths:
      - "backend/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install backend dependencies
        working-directory: backend
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create Layer
        working-directory: backend
        run: |
          pip install -r src/requirements.txt -t layer/python


      - name: Install CDK
        run: npm install -g aws-cdk

      - name: Deploy CDK stack
        working-directory: backend
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          DB_USER:  ${{ secrets.DB_USER }}
          DB_HOST:  ${{ secrets.DB_HOST }}
          DB_PASSWORD:  ${{ secrets.DB_PASSWORD }}

        run: |
          cdk deploy --require-approval never
